.controls {
  padding: 5px;
  background-color: #24292e;
  width: 100%;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;

  button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: rgba(255,255,255,0.75);
    font-size: 18px;
    margin-right: 20px;

    &:hover {
      color: #fff;
    }
  }
}