.controls {
  $hover-color: #fff;
  $text-color: rgba(255, 255, 255, 0.75);

  background-color: #24292e;
  width: 100%;
  display: flex;
  align-items: center;
  color: $text-color;

  .play-pause-container {
    margin-right: 20px;
    .play-pause {
      font-size: 36px;
    }
  }
  

  .player-controls {
    display: flex;
    align-items: center;
  }

  .track-name-container {
    font-size: 20px;
    margin: 8px 0 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      color: $hover-color;
      > .track-name-icon {
        color: $text-color;

        &:hover {
          color: $hover-color;
        }
      }
    }

    .track-name {
      margin-right: 20px;
    }
  }

  label {
    margin-right: 20px;

    &:hover {
      color: $hover-color;
    }

    .label {
      margin-right: 10px;
    }

    .tempo {
      width: 50px;
      text-align: right;
    }
  }

  button {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);

    &:hover {
      color: $hover-color;
    }
  }

  .song-settings {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    overflow: auto;

    .song-tracks {
      margin: 2px 0 8px 8px;

      .td-checkbox {
        text-align: center;
      }

      .display-play {
        position: relative;
        width: 25px;
        .slash {
          font-size: 21px;
          transform: rotate(62deg);
          display: inline-block;
        }
        > button {
          width: 25px;
          height: 22px;
          .top-left-icon {
            top: 0;
            left: 0;
          }
          .bottom-right-icon {
            right: 0;
            bottom: 0;
          }
          .top-left-icon,
          .bottom-right-icon {
            font-size: 18px;
            position: absolute;
          }
        }
      }
    }
  }
}
