.io-modules {
  position: relative;
  padding: 5px;

  .io-module {
    position: relative;
    margin-bottom: 10px;
    padding: 5px;

    .io-module-name {
      display: none;
    }

    .label {
      width: 160px;
      display: inline-block;
    }

    .section {
      margin-right: 20px;
    }

    .remove {
      position: absolute;
      right: 5px;
      top: 5px;
      display: none;
    }
    &:hover {
      .remove {
        display: inline-block;
      }
    }
  }

  .add-io-module {
    position: absolute;
    border: 1px solid black;
    display: none;

    &.active {
      display: block;
    }
  }
}