body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}

.piano-content {
  margin: 2px auto 0 auto;
  width: 1160px;

  button {
    cursor: pointer;
    background: transparent;
    border: none;
  }
}

.hidden {
  display: none;
}