@import './vars';

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
  color: $text-color;
  background-color: $background-color;
}

button {
  color: $text-color; 
}

input {
  color: $text-color; 
}

.piano-content {
  margin: 2px auto 0 auto;
  width: 1160px;

  button {
    cursor: pointer;
    background: transparent;
    border: none;
  }

  .label-input {
    cursor: pointer;
  }
}

.hidden {
  display: none;
}