.sheet-music-output {
  $border-color: #e1e4e8;

  position: relative;
  .sheet-music-controls {
    text-align: right;
    right: 30px;
    top: 5px;
    z-index: 100;
    padding: 5px;
  }

  .canvas-container {
    position: relative;
    > canvas {
      position: absolute;
    }
  }

  .canvas-scroll {
    background-color: transparent;
    position: absolute;
    overflow-y: auto;
    z-index: 1;
    border: 1px solid $border-color;

    .selection-controls {
      position: absolute;
      transform: translateX(-50%);
      opacity: .4;
      &:hover {
        opacity: 1;
      }

      &.select-start-end {
        //margin-left: -70px;
      }

      button {
        margin: 5px 0;
        font-size: 20px;
      }

      .material-icons {
        background-color: #696969; 
        color: #fff;
        border-radius: 50px;
        font-size: 36px;
      }
    }
  }
}
