.sheet-music-output {
  position: relative;
  .sheet-music-controls {
    position: absolute;
    right: 30px;
    top: 5px;
    z-index: 100;
  }

  .canvas-container {
    position: relative;
    > canvas {
      position: absolute;
    }
  }

  .canvas-scroll {
    background-color: transparent;
    position: absolute;
    overflow-y: auto;
    z-index: 1;
    border: 1px solid #e1e4e8
  }
}